.catalog {
  display: flex;
  margin: 0 -20px;
  padding: 45px 20px;
  flex-direction: column;
  align-items: center;
  background-color: $lightest-grey;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 -40px;
    padding: 100px 40px 90px;
  }
}

.catalog__main-content-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    padding-top: 36px;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
  }
}

.catalog__list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
