.catalog {
  display: flex;
  margin: 0 -20px;
  padding: 50px 20px 44px;
  flex-direction: column;
  align-items: center;
  background-color: $lightest-grey;

  @media (min-width: $desktop-width) {
    margin: 0 -40px;
    padding: 80px 40px 90px;
  }
}

.catalog__main-content-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
  }
}

.catalog__list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
