.header-link-list {
  margin: auto;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
  background-color: $base-white;
  z-index: 2;

  &--user-menu {
    margin-right: 0;
  }

  @media (max-width: $mobile-only-width) {
    &--site-menu {
      position: absolute;
      flex-direction: column;
      top: 100%;
      left: 0;
      align-items: center;
      transform: translateX(-100%);
      opacity: 0;
      transition: all 0.5s ease;
    }

    .header--no-js &--site-menu {
      position: static;
      transform: none;
      margin-left: -20px;
      opacity: 1;
      order: 3;
    }

    .header--opened &--site-menu {
      transform: none;
      opacity: 1;
    }
  }

  @media (min-width: $tablet-width) {
    &--site-menu {
      flex-grow: 1;
      justify-content: center;
    }
  }
}

.header-link-list__list-item {
  @media (max-width: $mobile-only-width) {
    .header-link-list--site-menu &:first-child {
      border-top: solid 2px $base-secondary;
    }
  }
}

.header-link-list__link {
  @include navigation;

  position: relative;
  display: flex;
  padding: 20px;
  align-items: center;
  text-decoration: none;
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
  transition: all 0.3s ease-in;

  &:active {
    background-color: $base-secondary;
  }

  @media (max-width: $mobile-only-width) {
    .header-link-list--site-menu & {
      display: flex;
      box-sizing: border-box;
      width: 100vw;
      justify-content: center;
      border-bottom: solid 2px $base-secondary;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 32px;
    padding-bottom: 32px;

    &--current {
      color: $base-primary;
      border-bottom: solid 2px $base-primary;
    }

    &:hover,
    &:focus {
      color: $base-primary;
    }
  }
}

.header-link-list__title {
  @media (max-width: $tablet-only-width) {
    .header-link-list--user-menu & {
      @include visually-hidden;
    }
  }
}

.header-link-list__icon {
  fill: currentColor;

  @media (min-width: $desktop-width) {
    padding-right: 8px;
  }
}
