.hero-banner {
  display: flex;
  flex-direction: column;
}

.hero-banner__slides-list {
  margin: 0 -20px;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    margin-left: -40px;
    margin-right: -40px;
  }
}

.hero-banner__slides-list-item {
  display: flex;
  padding: 20px 20px 40px 20px;
  flex-direction: column;

  &--flat-white {
    background-color: $flat-white;
  }

  &--lavender {
    background-color: $lavender;
  }

  &--espresso {
    background-color: $espresso;
  }

  .hero-banner__slides-list--no-js &:not(:first-child) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 40px 40px 40px;
    flex-direction: row;
  }
}

.hero-banner__slide-link {
  text-decoration: none;
  color: $base-black;
  display: flex;
  justify-content: center;

  &--text {
    padding: 5px 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  @media (min-width: $tablet-width) {
    &--image {
      order: 2;
    }
  }

  @media (min-width: $desktop-width) {
    &--image {
      order: 1;
    }

    &--text {
      align-items: flex-start;
    }
  }
}

.hero-banner__picture-set {
  display: flex;
  min-height: fit-content;
  min-width: fit-content;

  @media (min-width: $tablet-width) {
    margin-bottom: -188px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.hero-banner__slide-image {
  min-height: 280px;
  max-height: 476px;
  width: 88vw;
  height: 88vw;
  object-fit: contain;

  @media (min-width: $tablet-width) {
    min-height: 476px;
    max-height: 600px;
    max-width: 600px;
    width: 62vw;
    height: 62vw;
  }
}

.hero-banner__slide-information {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    order: 1;
    padding-bottom: 5px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    align-items: flex-start;
    order: 2;
  }
}

.hero-banner__slide-label {
  @include label;

  margin: 0;
  padding: 5px 0;
}

.hero-banner__slide-heading {
  @include big-header;

  margin: 0;
  padding: 5px 0;
}

.hero-banner__slide-description {
  @include big-paragraph;

  margin: 0;
  padding: 5px 0;
  text-align: center;

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.hero-banner__slide-buy {
  display: flex;
  width: fit-content;
  padding: 15px 0;
}

.hero-banner__slide-prices {
}

.hero-banner__slide-price {
  margin: 0;

  &--old {
    @include old-price;
    padding-right: 6px;
  }

  &--new {
    @include new-price;
    padding-right: 20px;
  }
}

.hero-banner__slide-buy-button {
  min-width: 113px;
}
