.hero-banner {
  display: flex;
  min-width: 0;
}

.hero-banner__slider {
  position: relative;
  margin: 0 -20px;

  @media (min-width: $desktop-width) {
    margin-left: -40px;
    margin-right: -40px;
  }
}

.hero-banner__slides-list {
  padding: 0;
  margin: 0;
  list-style: none;
  min-width: 0;
}

.hero-banner__slides-list-item {
  display: flex;
  box-sizing: border-box;
  padding: 20px 20px 40px 20px;
  height: fit-content;
  flex-direction: column;


  &--flat-white {
    background-color: $flat-white;
  }

  &--lavender {
    background-color: $lavender;
  }

  &--espresso {
    background-color: $espresso;
  }

  /*Show only first slide if js doesn't work*/

  .hero-banner__slider--no-js &:nth-of-type(n + 2) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    padding-top: 55px;
    padding-bottom: 0;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 188px;
      width: 100%;
      content: "";
      background-color: $base-white;
      border: 5px solid $base-white;
    }

    @media (min-width: $desktop-width) {
      position: static;
      padding: 30px 40px 40px 40px;
      flex-direction: row;

      &::after {
        display: none;
      }
    }
  }
}

.hero-banner__slide-link {
  text-decoration: none;
  color: $base-black;
  display: flex;
  justify-content: center;

  &--text {
    padding: 5px 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  @media (min-width: $tablet-width) {
    &--image {
      order: 2;
    }
  }

  @media (min-width: $desktop-width) {
    &--image {
      order: 1;
    }

    &--text {
      align-items: flex-start;
    }
  }
}

.hero-banner__picture-set {
  display: flex;
  min-height: fit-content;
  min-width: fit-content;

  @media (min-width: $desktop-width) {
    margin-right: 30px;
  }
}

.hero-banner__slide-image {
  min-height: 280px;
  max-height: 476px;
  width: 88vw;
  height: 88vw;
  object-fit: contain;

  @media (min-width: $tablet-width) {
    min-height: 476px;
    max-height: 600px;
    max-width: 600px;
    width: 62vw;
    height: 62vw;
  }
}

.hero-banner__slide-information {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    order: 1;
    padding-bottom: 5px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    align-items: flex-start;
    order: 2;
  }
}

.hero-banner__slide-label {
  @include label;

  margin: 0;
  padding: 5px 0;
}

.hero-banner__slide-heading {
  @include big-header;

  margin: 0;
  padding: 5px 0;
}

.hero-banner__slide-description {
  @include big-paragraph;

  margin: 0;
  padding: 5px 0;
  text-align: center;

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.hero-banner__slide-buy {
  display: flex;
  width: fit-content;
  padding: 15px 0;
}

.hero-banner__slide-price {
  margin: 0;

  &--old {
    @include old-price;
    padding-right: 6px;
  }

  &--new {
    @include new-price;
    padding-right: 20px;
  }
}

.hero-banner__slide-buy-button {
  min-width: 113px;
}

/*Swiper pagination and buttons*/

.hero-banner__button {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  width: 20px;
  bottom: 0;
  z-index: 1;
  background-color: transparent;

  &--next {
    right: 0;
    transform: scale(-1, 1);
  }

  &::after,
  &::before {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    width: 10px;
    height: 2px;
    top: 318px;
    left: 5px;
    background-color: $base-primary;
    content: "";
  }

  &::after {
    transform: rotate(45deg);
    transform-origin: top left;
  }

  &::before {
    transform-origin: bottom left;
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    background: linear-gradient(90deg, $base-white 0%, transparent 100%);
  }

  &:active {
    background: linear-gradient(90deg, $primary-opacity 0%, transparent 100%);
  }

  &--disabled::after,
  &--disabled::before,
  &:disabled::after,
  &:disabled::before {
    background-color: $base-grey;
  }

  @media (min-width: $tablet-width) {
    width: 80px;
    bottom: 198px;

    &::after,
    &::before {
      top: 510px;
      left: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    bottom: 0;

    &::after,
    &::before {
      top: 347px;
    }
  }
}

.hero-banner__pagination {
  @media (min-width: $desktop-width) {
    position: relative;
    display: flex;
    width: max-content;
    bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;

    .swiper-pagination-bullet {
      display: inline-block;
      width: 62px;
      height: 4px;
      background-color: $base-white;
      cursor: pointer;
    }

    .swiper-pagination-bullet + .swiper-pagination-bullet {
      margin-left: 8px;
    }

    .swiper-pagination-bullet-active {
      background-color: $base-primary;
    }
  }
}
