.logo-link {
  color: $base-black;
  text-decoration: none;

  &--header {

  }

  &--footer {

  }
}

.logo-link__caption {

  &--header {

  }

  &--footer {

  }

  @media (max-width: $mobile-only-width) {
    @include visually-hidden;
  }
}

.logo-link__logo {

  &--header {

  }

  &--footer {

  }

  @media (max-width: $mobile-only-width) {
    &--header {
      transform: translateX(-138px);
    }

    &--footer {
      transform: translateX(-83px);
    }
  }

  @media (min-width: $tablet-width) {
    &--header {
      transform: translateX(-83px);
    }

    &--footer {
      transform: translateX(0);
    }
  }

  @media (min-width: $desktop-width) {
    &--header {
      transform: translateX(0);
    }
  }
}

.logo-link__logo-icon {
  &--header {

  }

  &--footer {

  }

  @media (max-width: $mobile-only-width) {
    &--header {
      transform: translateX(45px);
    }

    &--footer {
      transform: translateX(12px);
    }
  }

  @media (min-width: $tablet-width) {
    &--header {
      transform: translateX(12px);
    }

    &--footer {
      transform: translateX(0);
    }
  }

  @media (min-width: $desktop-width) {
    &--header {
      transform: translateX(0);
    }
  }
}

.logo-link__logo-first-letter {
  &--header {

  }

  &--footer {

  }

  @media (max-width: $mobile-only-width) {
    &--header {
      @include visually-hidden;
    }

    &--footer {
      transform: translateX(80px);
    }
  }

  @media (min-width: $tablet-width) {
    &--header {
      transform: translateX(80px);
    }

    &--footer {
      transform: translateX(0);
    }
  }

  @media (min-width: $desktop-width) {
    &--header {
      transform: translateX(0);
    }
  }
}

.logo-link__logo-second-letter {
  &--header {

  }

  &--footer {

  }

  @media (max-width: $mobile-only-width) {
    &--header {
      @include visually-hidden;
    }

    &--footer {
      transform: translateX(12px);
    }
  }

  @media (min-width: $tablet-width) {
    &--header {
      transform: translateX(12px);
    }

    &--footer {
      transform: translateX(0);
    }
  }

  @media (min-width: $desktop-width) {
    &--header {
      transform: translateX(0);
    }
  }
}

.logo-link__logo-first-word {
  &--header {

  }

  &--footer {

  }

  @media (max-width: $mobile-only-width) {
    @include visually-hidden;
  }

  @media (max-width: $tablet-only-width) {
    &--header {
      @include visually-hidden;
    }
  }
}

.logo-link__logo-second-word {
  &--header {

  }

  &--footer {

  }

  @media (max-width: $mobile-only-width) {
    @include visually-hidden;
  }

  @media (max-width: $tablet-only-width) {
    &--header {
      @include visually-hidden;
    }
  }
}
