.logo-link {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  color: $base-black;
  text-decoration: none;
  margin-right: auto;
  padding: 10px 20px;

  &--footer {
    flex-direction: column;
    align-items: flex-start;
  }
}

.logo-link__picture {
  object-fit: contain;
}

.logo-link__caption {
  margin: 0;

  @media (max-width: $tablet-only-width) {
    @include visually-hidden;
  }

  .logo-link--header & {
    @include smaller-paragraph;

    padding-left: 20px;
    max-width: 126px;
  }

  .logo-link--footer & {
    padding-top: 10px;
    font-size: 14px;
    line-height: 20px;
  }
}
