.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 20px;

  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}

.main__section-label {
  @include label;

  padding-bottom: 4px;
}

.main__section-heading {
  @include small-header;
}
