.product-list {
  display: grid;
  margin: 0 auto;
  padding: 10px 0 40px;
  gap: 19px;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 45px;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.product-list__list-item {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px;
  background-color: $base-white;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    padding: 50px 30px 30px;
  }

  @media (min-width: $desktop-width) {
    &:hover,
    &:focus {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    }
  }
}

.product-list__product-link {
  display: flex;
  flex-direction: column;
  color: $base-black;
  text-decoration: none;
}

.product-list__picture-set {
  margin: 0 auto;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 25px;
  }
}

.product-list__product-picture {
  width: 130px;
  height: 188px;
  object-fit: contain;
}

.product-list__product-name {
  @include smaller-header;

  margin: 0;
}

.product-list__product-descriptopn {
  margin: 0;
  padding: 4px 0 14px;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

.product-list__product-buy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product-list__product-price {
  @include new-price;
}

.product-list__product-order-button {
  min-width: 141px;
  padding: 9px 20px;
}

.product-list__button-icon {
  padding-right: 6px;
  fill: currentColor;
}
