.body {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  flex-direction: column;
  min-height: 100%;
  font-family: $general-font-family;
  color: $base-black;
  background-color: $base-white;
  -webkit-tap-highlight-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  @include button;

  font-size: 14px;
  line-height: 20px;
  background-color: $base-primary;
  border-radius: 4px;
  color: $base-white;
  border: none;

  &:hover,
  &:focus {
    background-color: $primary-lighter;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $base-grey;
  }

  &--additional {
    background-color: $base-white;
    color: $base-primary;
  }

  &--additional:hover,
  &--additional:focus,
  &--additional:active,
  &--additional:disabled {
    color: $base-white;
  }
}
